//extens
%flexrowcenter{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
@mixin tipografiatexto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1,5rem;

}
$links:(
    bg-header:black,
    decoracion:underline,
    bordes: 2px solid red,
    relleno:20px,
);