
// Placeholder para centrar contenido horizontal y verticalmente usando flexbox
%flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Placeholder para elementos responsivos que ocupan todo el ancho y altura
%full-viewport {
    width: 100%;
    height: 100%;
}