

header{
   
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   
}

nav ul{text-align: right;
}
nav ul li{display:inline;
   margin: right 20px;
             
}

h1{font-family: 'Times New Roman', Times, serif;
   color: white;
   margin:80px;
   line-height: 50px;
   text-decoration: dotted;
}
h2 {margin: 100px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
     

footer{ margin: solid black 2px;
   
}

 .card {
   border: solid black 2px;
}
   
 .contenedor{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   margin: 150px;
   grid-gap:100px ;
   
 } 

form{
   margin-left: 80%;  
}
.logos{
   margin: 10px;
}

.text-bg-success{
   border: solid black 2px;
}
.nav{
   grid-gap:10px;
}
.nav-item{
   border: solid black 2px;
   border-radius: 10px;
  
}
.clearfix{
   margin: 10px;
   
}
.carousel img{
   margin:auto ;
   height: 500px;
   padding: 80px;

}
body{background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/21509487-conjunto-do-ecologico-sustentabilidade-rabiscos-meio-ambiente-desenho-animado-elementos-isolado-em-branco-fundo-ecologia-rabiscos-eps-10-vetor.jpg);
}

p{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 20px;
   color: black;
}

@media (max-width:760px ){
   .nav{flex-direction: column;
   }
   .h1{flex-direction: column;
   }
   .h2{flex-direction: row;
      
   }
   body{
      flex-direction: column;
      
   }
header{
   flex-direction: column;

}   
.contenedor{
   display: block;
  
}
.form{display: grid;
      grid-template-columns: repeat(3,1fr);
   }
.logos{display: grid;
   grid-template-columns: repeat(3,1fr);
   margin: 50px;
   
}
}




